@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/introduction-animation.css" rel="stylesheet" />
<header style="position: relative;">
    <h1 class="home-header">GameWeb</h1>
    <h2 class="introduction">It's about
        <div class="introductionRotation">
            <span>Play</span>
            <span>Rate</span>
            <span>Share</span>
            <span>Games</span>
        </div>
    </h2>
</header>

