body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("background.png");
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.imageCell {
    width: 128px;
    height: 170px;
    padding: 10px;
}

img.detailImage {
    width: 200px;
    padding-bottom: 6px;
}

#itemTitle {
    font-size: 1.3em;
}

.gallery-screenshot {
    height: 180px;
    width: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-content {
    padding: 24px;
}

.gallery-screenshot-container {
    position: relative;
    padding: 8px;
    background-color: white;
    border-radius: 2px;
    display: block;
    height: 200px;
    width: 200px;
    margin: 12px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
}