@model GalleryDetailModel
<div class="container body-content">
    <div class="row screenshot-detail-container">
        <div class="screenshot-detail">
            <img src="@Model.Url" alt="@Model.Title"/>
        </div>
    </div>
    <div class="row screenshot-detail-meta">
        <span>Title: @Model.Title</span>
        <span>Posted: @Model.Created</span>
    </div>
    <div class="row controls">
        <a class="btn btn-primary" asp-controller="ScreenshotGallery" asp-action="Index">
            Back to Screenshot Gallery
        </a>
    </div>
</div>