@using GameWeb.Models.Gallery
@model GameWeb.Models.Gallery.GalleryDetailModel
<div class="container body-content" id="screenshot-body-content">
    <div class="row screenshot-detail-container">
        <div class="screenshot-detail">
            <img src="@Model.Url" alt="@Model.Title"/>
        </div>
    </div>
    <div class="row screenshot-detail-meta" style="color: white; font-family: 'Roboto', sans-serif;">
        <span><b>Title: </b>@Model.Title</span><br/>
        <span><b>Posted: </b>@Model.Created.ToLocalTime()</span>
    </div>
</div>