@model ScreenshotIndex
<div class="container body-content">
    <div class="row gallery-content">
        @foreach (var screenshot in Model.Screenshots)
         {
             <div class="gallery-screenshot-container" style="display: inline-block;">
                 <a asp-controller="ScreenshotGallery" asp-action="Detail" asp-route-id="@screenshot.Id">
                     <div class="gallery-screenshot" style="background-image: url(@screenshot.Url)"></div>
                 </a>
             </div>
         }
    </div>
</div>